.coverArt {
    background-color: black;
    width: 280px;
    height: 360px;
    margin: 10px auto;
    display: flex;
}

.detailHolder {
    padding-top: 1rem;
}

.desc {
    text-align: center;
    color: white;
}

.vote {
    color: rgba(223, 217, 144, 0.909);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.voteArrowUp:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: rgb(13, 129, 13);
}

.voteArrowDown:hover {
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: red;
}

.commentsTitle {
    padding-top: 1rem;
}

.addComment {
    height: 4rem;
    width: 60rem;
    display: flex;
    margin: 0 auto 6px;
    color: white;
}

.addCommentBtn {
    display: flex;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(42, 42, 42);
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px #4f4f4f;
    margin: 0 auto 1rem;
}

.addCommentBtn:hover {
    background-color: #202020
}

.addCommentBtn:active {
    background-color: #2a475e;
    box-shadow: 0 0.5px #4f4f4f;
    transform: translateY(2px);
}

.commentsHolder {
    margin: 0 auto;
    width: 75%;
    border: 1px solid white;
    padding: 1rem;
    color: white;
}

.username {
    font-weight: bold;
    color: #66c0f4;
    margin-bottom: 0;
}

.comment {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) { 
    .addComment {
        width: 75%;
    }
}

@media screen and (max-width: 768px) { 
    .coverArt {
        margin-top: 75px;
    }
}